<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
    <% for (let key in urls) {%>
      <li><a href=<%=`http://localhost:8080/u/${key}`%>>http://localhost:8080/u/<%= key %></a> &#10143; <%= urls[key] %>>
        <a href=<%= `/urls/${key}`%>>Edit</a>
        <form method="POST" action=<%=`/urls/${key}/delete`%>>
          <button type="submit">DELETE</button>
        </form>
      </li>
    <% } %>
  </ul>
  <%if(user_id !== ''){%>
  <a href='http://localhost:8080/urls/new'>Create a New Short Link</a>
  <% } %>
</body>
</html>